<h3>Summernote editor</h3>

<a href="#" (click)="showTemplateForm = !showTemplateForm">
  @if (!showTemplateForm) {
    <span>Show template form</span>
  }
  @if (showTemplateForm) {
    <span>Show reactive form</span>
  }
</a>

@if (!showTemplateForm) {
  <h4>Reactive forms</h4>
  <div>
    <button (click)="enableEditor()" [disabled]="!editorDisabled">Enable</button>
    <button (click)="disableEditor()" [disabled]="editorDisabled">Disable</button>
  </div>
  <div [formGroup]="form">
    <div formControlName="html"
      [ngxSummernote]="config"
      [ngxSummernoteDisabled]="editorDisabled"
      (blur)="onBlur()"
      (mediaDelete)="onDelete($event)"
    ></div>
  </div>
  <h3>HTML</h3>
  <div [ngxSummernoteView]="form.get('html')?.value"></div>
  <h3>Code</h3>
  <pre>{{form.get('html')?.value}}</pre>
  @if (form.get('html')?.invalid) {
    <div>
      {{form.get('html')?.errors | json}}
    </div>
  }
}

@if (showTemplateForm) {
  <h4>Template forms</h4>
  <form>
    <textarea
      name="html" [(ngModel)]="html"
      [ngxSummernote]="config"
      [ngxSummernoteDisabled]="editorDisabled"
      (blur)="onBlur()"
      (mediaDelete)="onDelete($event)"
    ></textarea>
  </form>
  <h3>HTML</h3>
  <div [ngxSummernoteView]="html"></div>
  <h3>Code</h3>
  <pre>{{html}}</pre>
  @if (!html || html === '') {
    <div>
      Required
    </div>
  }
}
